.app-header {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #2c9e95, #8fcadb);
    color: white;
    //   padding: 0.8rem 1.2rem;
    top: 0;
    font-size: 1.3rem;
    font-weight: 600;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-top: 0;
}

.menu-btn {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    margin-right: 1rem;
}

.title {
    flex: 1;
    text-align: center;
    margin: 0;
}