<header class="header">

  <button class="menu-btn" (click)="onToggleSidebar()" (mouseenter)="hovering = true" (mouseleave)="hovering = false">

    <span class="material-icons">
      {{

      isCollapsed
      ? (hovering ? 'menu' : 'chevron_right')


      : (hovering ? 'chevron_left' : 'menu')
      }}
    </span>

  </button>

  <div class="header-logo">
    <img src="/assets/logo_700.webp" class="logo" />
    <span class="brand">Fisen</span>
  </div>

  <button class="logout-btn" (click)="logout()">
    <span class="material-icons">logout</span>
  </button>


</header>