.contenedor {
  // max-width: 1100px;
   max-width: 100%;
  max-height: 100%;
  margin: 0px auto;
  padding: 10px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  
  h2 {
    margin-bottom: 20px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #2c3e50;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .spinner {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .error {
    color: #e74c3c;
    font-weight: 500;
    margin: 15px 0;
    padding: 12px;
    background: #fdecea;
    border-radius: 8px;
    border: 1px solid #f5c6cb;
  }

  .no-data {
    text-align: center;
    padding: 20px;
    color: #7f8c8d;
    font-style: italic;
  }
}

/* Tabla */
table {
  width: 100%;
  border-spacing: 0;
  margin-top: 20px;
  border-radius: 12px;
  overflow: hidden;
}

th {
  background: #1976d2;
  color: #000000;
  font-weight: 600;
  padding: 12px;
  text-align: left;
}

td {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

tr:hover {
  background: #f5faff;
}

button[mat-raised-button] {
  margin-right: 8px;
  font-weight: 500;
}

/* Detalle del paciente */
.detalle {
  margin-top: 25px;
  padding: 20px;
  background: #f9fafc;
  border: 1px solid #dfe6e9;
  border-radius: 12px;

  h3 {
    margin-bottom: 15px;
    font-size: 1.3rem;
    font-weight: 600;
    color: #34495e;
  }

  p {
    margin: 6px 0;
    font-size: 0.95rem;

    strong {
      color: #2c3e50;
      font-weight: 600;
    }
  }
}

.acciones-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;

  .input-filtro {
    flex: 1;
    max-width: 250px;
    padding: 0.5rem 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 0.9rem;
    outline: none;
    transition: all 0.3s ease;

    &:focus {
      border-color: #26a69a;
      box-shadow: 0 0 5px rgba(38, 166, 154, 0.3);
    }
  }
}
