<h2 mat-dialog-title>Nueva cita</h2>

<form [formGroup]="form" mat-dialog-content>

  <mat-form-field appearance="fill">
    <mat-label>Paciente</mat-label>
    <mat-select formControlName="id_paciente">
      <mat-option *ngFor="let p of patients()" [value]="p.id">
        {{ p.nombre }} {{ p.apellido }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Profesional</mat-label>
    <mat-select formControlName="id_profesional">
      <mat-option *ngFor="let prof of professionals()" [value]="prof.id">
        {{ prof.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Fecha</mat-label>
    <input matInput type="date" formControlName="fecha_agendamiento">
  </mat-form-field>

  <div class="grid grid-cols-2 gap-4">
    <mat-form-field appearance="fill">
      <mat-label>Inicio</mat-label>
      <input matInput type="time" formControlName="horario_inicio">
    </mat-form-field>

    <!-- <mat-form-field appearance="fill">
      <mat-label>Fin</mat-label>
      <input matInput type="time" formControlName="horario_fin">
    </mat-form-field> -->
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Paquete</mat-label>
    <mat-select
      formControlName="id_paquetes"
      [disabled]="packagesLoading() || !hasAvailablePackages()"
    >
      <mat-option [value]="null">Sin paquete</mat-option>

      <mat-option
        *ngFor="let pack of availablePackages()"
        [value]="pack.id"
      >
        {{ attentionPackageMap().get(pack.id_paquetes_atenciones) }}
      </mat-option>
    </mat-select>

    <mat-hint *ngIf="packagesLoading()">Cargando paquetes...</mat-hint>
    <mat-hint *ngIf="!packagesLoading() && !hasAvailablePackages()">
      El paciente no tiene paquetes activos
    </mat-hint>
  </mat-form-field>

  <button
    mat-stroked-button
    color="primary"
    type="button"
    *ngIf="!packagesLoading() && !hasAvailablePackages()"
    (click)="createPackageForPatient()"
  >
    ➕ Crear paquete
  </button>

</form>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="save()">Guardar</button>
</mat-dialog-actions>
