<aside class="sidebar" [class.collapsed]="isCollapsed">
  <div class="sidebar-header">
    <mat-icon class="header-icon">home</mat-icon>
  </div>
  <!-- Menú -->
  <nav class="menu">
    <ul>
      <li *ngFor="let item of menuItems">
        <a [routerLink]="item.route" routerLinkActive="active">
          <!-- <span class="material-icons">{{ item.icon }}</span> -->
          <span class="label" *ngIf="!isCollapsed">{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Separador flexible para empujar todo hacia arriba -->
  <div class="spacer"></div>

  <!-- Footer con logo + nombre + soporte -->
  <div class="sidebar-footer">

    <div class="footer-logo">
      <img src="/assets/logo_700.webp" class="logo" />
      <span class="brand" *ngIf="!isCollapsed">Fisen</span>
    </div>

    <div class="footer-links" *ngIf="!isCollapsed">
      <a href="mailto:soporte@fisen.com" class="help-link">
        Mesa de ayuda
      </a>

      <small class="copy">
        © 2025 Fisen
      </small>
    </div>

  </div>

</aside>