.full-screen-dialog  {
  width: 100vw !important;
  height: 100vh !important;
  max-width: 100vw !important;
  margin: 0;
  border-radius: 0; /* opcional, quita bordes redondeados */
  padding: 0;
}